<!DOCTYPE html>
<html lang="en">
<head>
  <title>Light Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container">
    <form action = '/' method = 'post'>
        <input type = 'file' class = "btn btn-primary" value = "chon anh tu may tinh">
        <input type = "submit" value = "Colorzize">
    </form>
    {%if image != '' %}
    <img src = '{{image}}'>
    <img src = '{{result}}'>
    {%endif%}
</div>
</body>
</html>